vim-pathogen/
vim/plugged/**
.netrwhist
vim-pathogen.tar.xz
vim/bundle/vundle/.netrwhist
fontconfig/
bash/proxy
nike
nike_remote
vim/shada/**
bash/nike_alias
bash/nike_tmux_templates
bash/env_settings
vim/.init.vim-rplugin*
vim/colors.vim
alacritty/colors.yml
tmux_color.conf
rofi/config.rasi
nvim/plugin/packer_compiled.lua
