.netrwhist
alacritty/colors.toml
alacritty/local.toml
bash/env_settings
bash/local
fontconfig/
nvim/lua/user/colors.lua
nvim/plugin/packer_compiled.lua
rofi/config.rasi
tmux/color.conf
tmux/local.conf
vim/.init.vim-rplugin*
vim/bundle/vundle/.netrwhist
vim/colors.vim
vim/plugged/**
vim/shada/**
