[Unit]
Description=redshift_adjust

[Timer]
; Activate first time 1min after boot
OnBootSec=1m
; Activate 5m after previous activation
OnUnitActiveSec=5m
Unit=redshift_adjust.service

[Install]
WantedBy=timers.target
