[Unit]
Description=redshift_adjust

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=%h/bin/redshift_adjust.pl

[Install]
WantedBy=multi-user.target
