[Unit]
Description=drk_daemon
BindsTo=dev-drk.device
After=dev-drk.device
Requisite=dev-drk.device

[Service]
Type=simple
; Environment=XAUTHORITY=/home/davs/.Xauthority
; Environment=DISPLAY=:0
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/davs/dotfiles/bin/drk_daemon
Restart=on-failure
RestartSec=5s

StandardOutput=append:/clean_daily/drk_daemon.log
StandardError=append:/clean_daily/drk_daemon.log

[Install]
WantedBy=dev-drk.device
