[Unit]
Description=dalsik_daemon
BindsTo=dev-dalsik.device
After=dev-dalsik.device systemd-user-sessions.service

[Service]
Type=simple
Environment=XAUTHORITY=/home/davs/.Xauthority
Environment=DISPLAY=:0
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/davs/dotfiles/bin/dalsik_daemon
Restart=on-failure
RestartSec=5s

StandardOutput=append:/clean_daily/dalsik_daemon.log
StandardError=append:/clean_daily/dalsik_daemon.log

[Install]
WantedBy=dev-dalsik.device
