[Unit]
Description=clean daily

[Timer]
; Activate first time 1h after boot
OnBootSec=1h
; Activate 8h after previous activation
OnUnitActiveSec=8h
Unit=clean_daily.service

[Install]
WantedBy=timers.target
