[Unit]
Description=xset keyboard repeat
After=systemd-user-sessions.service

[Service]
Type=oneshot
Environment=XAUTHORITY=/home/davs/.Xauthority
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 5
ExecStart=/home/davs/dotfiles/bin/keyboard_repeat

[Install]
WantedBy=dev-dalsik.device  dev-drk.device
