#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    on_song_change: ["~/.config/rmpc/increment_play_count"],
    volume_step: 5,
    max_fps: 30,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    status_update_interval_ms: 1000,
    select_current_song_on_change: false,
    browser_column_widths: [20, 38, 42],
    theme: "catppuccin_mocha",
    album_art: (
        method: Auto,
        max_size_px: (width: 900, height: 900),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Top,
        horizontal_align: Center,
    ),
    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [(size: "20%", pane: Pane(AlbumArt)), (size: "80%", pane: Pane(Queue))],
            ),
        ),
        (
            name: "Artists",
            pane: Pane(Artists),
        ),
        (
            name: "Albums",
            pane: Pane(Albums),
        ),
        (
            name: "Search",
            pane: Pane(Search),
        ),
        (
            name: "Directories",
            pane: Pane(Directories),
        ),
    ],
)
