[Unit]
Description=Restic Work backup local

[Timer]
; Activate first time 1h after boot
OnBootSec=1h
; Activate 1h after previous activation
OnUnitActiveSec=1h
Unit=restic_work_backup_local.service

[Install]
WantedBy=timers.target
