[Unit]
Description=Restic work backup local

[Service]
Type=oneshot
ExecStart=%h/dotfiles/bin/restic_backup_local /opt/work_backup

StandardOutput=append:/opt/clean_daily/restic_work_backup_local.log
StandardError=append:/opt/clean_daily/restic_work_backup_local.log

[Install]
WantedBy=multi-user.target
