export IRSSI_IRC_PASSWORD="enter irc password"
export PRIMARY_MONITOR_OUTPUT="LVDS1"
export PRIMARY_MONITOR_RESOLUTION="1600x900"
export SECONDARY_MONITOR_OUTPUT="DP1"
export SECONDARY_MONITOR_RESOLUTION="1920x1200"
export BACKUP_KEYFILE="/tmp/key"
export VIM_UNDODIR="/data"
export VIM_SWAPDIR="/data"
